<template>
    <v-card class="elevation-12">
        <v-toolbar
          color="primary"
          dark
          flat
        >
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer />
      
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field v-model="examObj.name" label="Name"></v-text-field>
            <v-text-field v-model="examObj.type" label="Type"></v-text-field>
            <v-switch v-show="dialogType === 'EDIT'" v-model="examObj.active" label="Active"></v-switch>
            <v-autocomplete
              v-model="examObj.associatedLabs"
              :items="entries"
              :loading="isLoading"
              :search-input.sync="search"
              @input="search = ''"
              hide-no-data
              hide-selected
              chips
              deletable-chips
              multiple
              item-text="name"
              item-value="name"
              label="Laboratories"
              placeholder="Start typing to Search"
              prepend-icon="mdi-database-search"
              return-object
            ></v-autocomplete>
            <!-- associated labs -->
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-expand-transition>
          <v-list v-if="examObj.associatedLabs" class="red lighten-3">
            <v-list-item
              v-for="(lab, i) in examObj.associatedLabs"
              :key="i"
            >
              <v-list-item-content>
                <v-list-item-title v-text="lab.name"></v-list-item-title>
                <v-list-item-subtitle v-text="lab.address"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-expand-transition>
        <v-card-actions>
          <v-spacer />
          <v-btn v-show="dialogType === 'CREATE'" @click="submitCreate" color="primary">Create</v-btn>
          <v-btn v-show="dialogType === 'EDIT'" @click="submitEdit" color="primary">Edit</v-btn>
          <v-btn v-show="dialogType === 'REMOVE'" @click="submitRemove" color="primary">Remove</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'examDialog',
    props: ['dialogType', 'examObj'],
    data: () => ({
      dialogTitle: '',
      search: null,
      isLoading: false,
      model: null,
      entries: []
    }),
    computed: {
      currentType () {
        return this.$props.dialogType
      },
      title () {
        return this.$props.dialogType === 'CREATE' ? 'Add new exam' :
              this.$props.dialogType === 'EDIT' ? 'Edit current exam' :
              this.$props.dialogType === 'REMOVE' ? 'Deactivate exam' : ''
      },
    },
    items () {
        return this.entries.map(entry => {
          const Name = entry.name

          return Object.assign({}, entry, { Name })
        })
      },
    watch: {
      search (val) {
        // Items have already been loaded
        if (this.$props.examObj.associatedLabs.length > 0) return

        // Items have already been requested
        if (this.isLoading) return

        this.isLoading = true
        console.log(val)
        // Lazily load input items
        axios.get(`http://localhost:3000/laboratory/text/?name=${val}`)
          .then(res => {
            console.log(res)
            this.count = res.data.length
            this.entries = res.data
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => { 
            this.isLoading = false
          })
      },
    },
    methods: {
      submitCreate () {
        const newLab = {
          name: this.$props.examObj.name,
          type: this.$props.examObj.type,
          associatedLabs: this.$props.examObj.associatedLabs
        }
        console.log(newLab)
        axios.post(`http://localhost:3000/exam/`, newLab).then(() => {
          
          this.$props.examObj.name = ''
          this.$props.examObj.type = ''
          this.$props.examObj.associatedLabs = []
          this.$emit('dialog-event')
        })
      },
      submitEdit () {
        const examId = this.$props.examObj._id
        const updatedExam = {
          name: this.$props.examObj.name,
          type: this.$props.examObj.type,
          associatedLabs: this.$props.examObj.associatedLabs,
          active: this.$props.examObj.active
        }
        console.log('updated name', updatedExam.name)
        axios.put(`http://localhost:3000/exam/${examId}`, updatedExam).then(() => {
          
          this.$props.examObj.name = ''
          this.$props.examObj.type = ''
          this.$emit('dialog-event')
        })
      },
      submitRemove () {
        const examId = this.$props.examObj._id

        axios.delete(`http://localhost:3000/exam/${examId}`).then(() => {
          this.$props.examObj.name = ''
          this.$props.examObj.type = ''
          this.$emit('dialog-event')
        })
      }
    }
  }
</script>
