<template>
    <v-card class="elevation-12">
        <v-toolbar
          color="primary"
          dark
          flat
        >
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-spacer />
      
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field v-model="labObj.name" label="name"></v-text-field>
            <v-text-field v-model="labObj.address" label="address"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn v-show="dialogType === 'CREATE'" @click="submitCreate" color="primary">Create</v-btn>
          <v-btn v-show="dialogType === 'EDIT'" @click="submitEdit" color="primary">Edit</v-btn>
          <v-btn v-show="dialogType === 'REMOVE'" @click="submitRemove" color="primary">Remove</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
  import axios from 'axios'
  export default {
    name: 'labDialog',
    props: ['dialogType', 'labObj'],
    data: () => ({
      
      dialogTitle: ''
    }),
    computed: {
      currentType () {
        return this.$props.dialogType
      },
      title () {
        return this.$props.dialogType === 'CREATE' ? 'Add new laboratory' :
              this.$props.dialogType === 'EDIT' ? 'Edit current laboratory' :
              this.$props.dialogType === 'REMOVE' ? 'Deactivate laboratory' : ''
      },
    },
    methods: {
      submitCreate () {
        const newLab = {
          name: this.$props.labObj.name,
          address: this.$props.labObj.address
        }

        axios.post(`http://localhost:3000/laboratory/`, newLab).then(() => {
          
          this.$props.labObj.name = ''
          this.$props.labObj.address = ''
          this.$emit('dialog-event')
        })
      },
      submitEdit () {
        const labId = this.$props.labObj._id
        const updatedLab = {
          name: this.$props.labObj.name,
          address: this.$props.labObj.address
        }
        console.log('updated name', updatedLab.name)
        axios.put(`http://localhost:3000/laboratory/${labId}`, updatedLab).then(() => {
          
          this.$props.labObj.name = ''
          this.$props.labObj.address = ''
          this.$emit('dialog-event')
        })
      },
      submitRemove () {
        const labId = this.$props.labObj._id

        axios.delete(`http://localhost:3000/laboratory/${labId}`).then(() => {
          this.$props.labObj.name = ''
          this.$props.labObj.address = ''
          this.$emit('dialog-event')
        })
      }
    }
  }
</script>
