<template>
  <v-app id="sandbox">
    <v-app-bar
      app
    >
      <v-toolbar-title>LabDasa Test</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-dialog v-model="labDialogOpen">
        <lab-dialog 
          v-on:dialog-event="labDialogClosed"
          v-bind:dialog-type="labDialogType" 
          v-bind:labObj="currentLab" 
          >
        </lab-dialog>
      </v-dialog>
      <v-dialog v-model="examDialogOpen">
        <exam-dialog 
          v-on:dialog-event="examDialogClosed"
          v-bind:dialog-type="examDialogType" 
          v-bind:examObj="currentExam" 
          >
        </exam-dialog>
      </v-dialog>
      <v-container fluid>
        <v-row>

          <v-col cols="12">
            <v-card>
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <span>Laboratory List</span>
                    
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Address</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in labList" v-bind:key="item._id">
                            <td>{{ item.name }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.active ? 'Active' : 'Deactivated '}}</td>
                            <td>
                              <v-row
                                align="center"
                                justify="center"
                              >
                                <v-icon
                                  large
                                  @click="editLab(item)">
                                  {{ icons.mdiPencil }}
                                </v-icon>
                                <div class="mx-2"></div>
                                <v-icon                                  large
                                  @click="deactivateLab(item)">
                                  {{ icons.mdiDelete }}
                                </v-icon>
                                <div class="mx-2"></div>
                              </v-row>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>

                    <v-btn
                      @click="createLab"
                      text
                      color="primary"
                    >Add Laboratory</v-btn>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <span>Exam List</span>
                    
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Name</th>
                            <th class="text-left">Type</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Associated Labs</th>
                            <th class="text-left">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in examList" v-bind:key="item._id">
                            <td>{{ item.name }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.active ? 'Active' : 'Deactivated '}}</td>
                            <td>{{ item.associatedLabs[0] ? 'none' : item.associatedLabs[0].name }}</td>
                            <td>
                              <v-row
                                align="center"
                                justify="center"
                              >
                                <v-icon
                                  large
                                  @click="editExam(item)">
                                  {{ icons.mdiPencil }}
                                </v-icon>
                                <div class="mx-2"></div>
                                <v-icon                                  large
                                  @click="deactivateExam(item)">
                                  {{ icons.mdiDelete }}
                                </v-icon>
                                <div class="mx-2"></div>
                              </v-row>
                            </td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>

                    <v-btn
                      @click="createExam"
                      text
                      color="primary"
                    >Add Exam</v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>

    <v-footer
      app
    >
      <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import labDialog from './components/LabDialog'
  import examDialog from './components/ExamDialog'
  import {
    mdiAccount,
    mdiPencil,
    mdiShareVariant,
    mdiDelete,
  } from '@mdi/js'

  export default {
    components: { labDialog, examDialog },
    data: () => ({
      labDialogOpen: false,
      labDialogType: 'CREATE',
      examDialogOpen: false,
      examDialogType: 'CREATE',
      labList: [],
      examList: [],
      currentLab: {
        name: '',
        address: ''
      },
      currentExam: {
        name: '',
        type: '',
        active: '',
        associatedLabs: []
      },
      icons: {
        mdiAccount,
        mdiPencil,
        mdiShareVariant,
        mdiDelete,
      },
    }),
    mounted () {
      axios.get(`http://localhost:3000/laboratory/`).then((res) => {
        this.$data.labList = res.data
      })
      axios.get(`http://localhost:3000/exam/`).then((res) => {
        console.log(res.data)
        this.$data.examList = res.data
      })
    },
    methods: {
      labDialogClosed () {
        axios.get(`http://localhost:3000/laboratory/`).then((res) => {
          this.$data.labList = res.data
          this.$data.labDialogOpen = !this.$data.labDialogOpen
        })
      },
      examDialogClosed () {
        axios.get(`http://localhost:3000/exam/`).then((res) => {
          this.$data.examList = res.data
          this.$data.examDialogOpen = !this.$data.examDialogOpen
        })
      },
      editLab (item) {
        this.$data.labDialogType = 'EDIT'
        this.$data.currentLab = { ...item }
        this.$data.labDialogOpen = true
        
      },
      deactivateLab (item) {
        this.$data.labDialogType = 'REMOVE'
        this.$data.currentLab = item
        this.$data.labDialogOpen = true
      },
      createLab () {
        this.$data.labDialogType = 'CREATE'
        this.$data.currentLab = { name: '', address: '' }
        this.$data.labDialogOpen = true
      },
      editExam (item) {
        this.$data.examDialogType = 'EDIT'
        this.$data.currentExam = { ...item }
        this.$data.examDialogOpen = true
      },
      deactivateExam (item) {
        this.$data.examDialogType = 'REMOVE'
        this.$data.currentExam = item
        this.$data.examDialogOpen = true
      },
      createExam () {
        this.$data.examDialogType = 'CREATE'
        this.$data.currentExam = { name: '', type: '', associatedLabs: [] }
        this.$data.examDialogOpen = true
      },
    },
  }
</script>